.crear-producto {
  max-width: 90%;
  margin: 2rem auto;
  background-color: white;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
}

.crear-producto h2 {
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  color: var(--color-primary);
  text-align: center;
  margin-bottom: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

label {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 0.95rem;
}

input,
textarea {
  margin-top: 0.3rem;
  padding: 0.6rem 0.8rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 0.95rem;
}

textarea {
  resize: none;
  min-height: 80px;
}

.error {
  color: #c47a6d;
  font-size: 0.8rem;
  margin-top: 0.2rem;
  font-weight: bold;
}

.detalle-item {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  align-items: center;
}

.detalle-item input {
  flex: 1 1 45%;
  margin-bottom: 0.3rem;
}

button.eliminar-detalle {
  background-color: #c47a6d;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
  font-weight: 500;
}

.agregar-detalle-btn,
.crear-producto-btn {
  display: block;
  margin: 0 auto;
  width: 90%;
  text-align: center;
  color: white;
  border: none;
  padding: 0.7rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  width: 90%;
}

.agregar-detalle-btn {
  background-color: var(--color-accent);
}

.agregar-detalle-btn:hover {
  background-color: var(--color-secondary);
}

.crear-producto-btn {
  background-color: var(--color-primary);
}

.crear-producto-btn:hover {
  background-color: var(--color-secondary);
}

.error-general {
  color: #c47a6d;
  text-align: center;
  margin: 0.5rem 0;
  font-weight: 500;
}

/* Tablets */
@media (min-width: 481px) and (max-width: 1024px) {
  .crear-producto {
    max-width: 80%;
  }

  textarea {
    min-height: 100px;
  }

  .detalle-item input {
    flex: 1 1 45%;
  }

  .agregar-detalle-btn,
  .crear-producto-btn {
    width: 60%;
  }
}

/* Desktop */
@media (min-width: 1025px) {
  .crear-producto {
    width: 50%;
    padding: 2.5rem;
  }

  textarea {
    min-height: 120px;
  }

  .detalle-item input {
    flex: 1 1 45%;
  }

  .agregar-detalle-btn,
  .crear-producto-btn {
    width: 60%;
  }
}
